37signals.css

.signals, html {
	font-family: arial;
	margin: 0;
	padding: 0;
}
div.nav, p {
	float: left;
	padding-top: 5px;
	padding-left: 25px;
	color: #999;
	font-family: arial;
	font-size: 12px;
}
div.nav ul.home {
	float: right;
	padding-top: 5px;
}
.nav ul{
	text-align: right;
	float: right;
}
.nav ul, li, a {
	color: #369; 
	text-decoration: none;
	text-align: right;
	display: inline;
	float: right;
	list-style: none;
}
.nav ul {
	padding-left: 700px;
}
.nav ul li {
	padding-right: 25px;
}
#logo {
	text-align: center;
	margin: 0;
	padding: 0;
}
.collab {
	position: relative;
}
.collab h1 {
	font-family: "CrimsonSemiBold";
	font-size: 56px;
	padding: 0;
	margin-bottom: 25px;
	text-align: center;
	letter-spacing: -1px;
}
.collab h4 {
	font-family: inherit;
	font-size: 20px;
	text-align: center;
}
div.product {
	float: left;
	border: 2px solid #EFEFEF; 
	background: -webkit-linear-gradient(top, white, #EFEFEF);
	height: 250px;
	margin-right: 40px;
	border-radius: 5px;
}
div.product img {
	padding-top: 20px;
	display: inline-block;
}
.boxes {
	margin-top: 30px;
	width: 700px;
	height: 250px;
	position: relative;
	text-align: center;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	font-family: lucida grande;
}
.product h2 {
	margin: 3px;
	font-weight: bold;
	font-family: lucida sans unicode;
	color: #369;
	font-size: 20px
	text-decoration: underline;
}
.product h3 {
	margin: 3px;
	font-size: 14px;
	color: #c00;
	padding: 5px;
}
.product p {
	font-size: 14px;
	color: #222;
}
.break {
	padding-top: 30px;
	text-align: center;
	clear: both;
}
.customers h2 {
	text-align: center;
	font-size: 36px;
}
.customers .picture {
	background: url ("http://37signals.com/images/img-customers.png") no-repeat;
	height: 105px;
	width: 200px;
	position: absolute;
	top: 100px;
	left: 50px;
}
.customers .arrow {
	position: absolute;
	padding-left: 315px;
	padding-top: 94px;
}
#imgcustomers {
	position: absolute;
	margin-top: 60px;
	margin-left: -515px;
	width: 145px;
	height: 105px;
	padding: 0;
}
.meet {
	font-size: 10px;
}
.loyal img {
	float: right;
}
.loyal {
	text-align: left;
	font-size: 20px;
	color: #666;
	width: 600px;
	display: inline;
	font-family: crimsonroman;
	float: left;
	margin-left: 255px;
}
.world {
	text-align: left;
	font-size: 20px;
	color: #666;
	width: 600px;
	display: inline;
	font-family: crimsonroman;
	float: left;
	margin-left: 255px;
}
#logos {
	display: block;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}